<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Základy vue</title>
    <link rel="stylesheet" href="theme.css" />
</head>

<body>
    <div class="container" id="app">
        <div class="card">
            <h1 :style="{
                color: inputValue.length<5?'darkred':'darkblue',
                fontSize: inputValue.length<6? '2rem':'1rem'
            }">{{title}}</h1>
            <div class="form-control">
                <!-- <input type="text" :placeholder="placeholderString" @input="inputChangeHandler" @keypress.enter="addNewNote" :value="inputValue" /> -->
                <input type="text" :placeholder="placeholderString" @keypress.enter="addNewNote" v-model="inputValue" />
            </div>
            <div>
                <button class="btn" @click="addNewNote">přidat poznámku</button>
            </div>
            <hr />
            <ul class='list' v-if="notes.length!==0">
                <li class="list-item" v-for="(note, idx) in notes">
                    <span :class="note.length>5?'primary':'bold'">
                        ({{idx+1}}) {{naVelkaPismena(note)}}
                    </span>
                    <button @click="removeNote(idx)" class="btn danger">Vymazat</button>
                </li>

                <hr />
                <li>
                    <strong>
                        počet poznámek: {{notes.length}} | celkový počet znaků: {{
                        // numberOfChars()
                        numberOfCharsComputed
                        }}
                    </strong>
                </li>

            </ul>
            <div v-else>
                Není žádná poznámka, zapište první poznámku
            </div>
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>

</html>