<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Základy vue</title>
    <link rel="stylesheet" href="theme.css" />
</head>

<body>
    <div class="container" id="app">
        <div class="card">
            <h1>{{title}}</h1>
            <div class="form-control">
                <input type="text" :placeholder="placeholderString" @input="inputChangeHandler"
                    @[keypress.enter="addNewNote" :value="inputValue" />
            </div>
            <div>
                <button class="btn" @click="addNewNote">přidat poznámku</button>
            </div>
            <hr />
            <ul class='list'>
                <li v-if="notes.length!==0" class="list-item" v-for="(note, idx) in notes">
                    ({{idx+1}}) {{naVelkaPismena(note)}}
                    <button @click="removeNote(idx)" class="btn danger">Vymazat</button>
                </li>
                <div v-else>
                    Není žádná poznámka, zapište první poznámku
                </div>
            </ul>
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>

</html>